<html>
   <style>

      body{
		font-size: 10pt;
        background-color: white;
      }
	  

        {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
</style>


<!--http://10.10.1.40:8888/warehouse/logo/providusbank-logo-150.jpg-->
   <body style="font-family: Garamond; color: #2F444E; font-size: 10pt; ">
      <table cellspacing="10" cellpadding="0" border="0" width="900px">
         <tr>
            <td align="center"><img src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-m-design_460848-10168.jpg?w=740&t=st=1667104240~exp=1667104840~hmac=9352fad627e04ed67e6e91dfe2ef80922627521494719b05ef9ec5ecaacd2a81" /></td>
         </tr>
         <tr>
            <td align="center" style="font-family: Garamond; color: #2F444E; font-size: 20px; font-weight: bold;">STATEMENT OF ACCOUNT</td>
         </tr>
         <tr>
            <td>
               <table cellspacing="5" cellpadding="0" border="0" width="100%">
                  <tr style="vertical-align: top;">
                     <td width="70%">
                        <table cellspacing="1" cellpadding="2" border="0" width="100%">
                           <tr style="vertical-align: top;">
                              <td width="25%" bgcolor="#FDB913"><strong>CUST. NAME</strong></td>
                              <td bgcolor="#D9DDDF">{{companyName}}</td>
                           </tr>
                           <tr style="vertical-align: top;">
                              <td bgcolor="#FDB913"><strong>ADDRESS</strong></td>
                              <td bgcolor="#D9DDDF">{{location}}</td>
                           </tr>
                     
                        </table>
                     </td>
           
				  </tr>
               </table>
            </td>
         </tr>
      </table>
	  
   </body>
</html>